@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 19rem));
    }
}

.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.marqueeInner {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.marqueeRow {
    display: inline-block;
    padding-right: 3rem;
}